.photo {
    width: 516px;
    border-radius: 50%;
    height: 516px;
    object-fit: cover;
}

.desc__title {
    max-width: 717px;
    text-shadow: black 0px 0px 14px;
    transform: translateX(0%) translateZ(0px);
    font-size: 22px;
}

.image--works {
    background: none;
    background-size: cover;
}
.image.image--works {
    box-shadow: none;

}

.image.image--works p{
    color: #fff;
    padding-left: 60px;

}
.works__edited {
    width: 95%;
    margin: 0 auto;
}
.title--edited {
    margin-left: 6%;
}
.image--about {
    background: none;
}
.slider--works img {
    max-width: 500px;
    max-height: 400px;
}
.desc__text {
    font-size: 25px;
}
.desc__subtitle {
    font-size: 20px;
    text-align: center;
    text-shadow: 0 0 10px black;
    line-height: 1.5;
    margin: 30px 0;
    padding: 0 15px;
}
.section--mobile {
    display: none !important;
}
@media (max-width: 800px) {
    .moon__img {
        width: 300px;
        height: 300px;
    }


}
@media (max-width: 420px) {
    .moon__img {
        width: 250px;
        height: 250px;
    }
    .title--top {

        margin: 298px 5% 0 5%;
    }
    .title--top  h1 br{
         display: none;
     }
    .title--top  h1{
        text-align: center;
    }
    .desc__title {
        font-size: 15px;
        margin-bottom: 10px;
    }
    .image.image--works p {
        color: #fff;
        padding-left: 15px;
        font-size: 15px;
    }

}
@media (max-width: 420px) {
    .moon__img {
        width: 210px;
        height: 210px;
    }
    .image {
        height: 77.633%;
    }
    .section--mobile {
        display: table !important;
    }

}

.scrollDown {
    right: 2.25%;
}
.moon {
    width: 102vw;
    height: 162vw;
}
.title--top {
    margin: 298px 15px 10px 15px;
}

.desc__text {
    font-size: 15px;
    padding: 0 15px;
}

.title__text {
    text-align: center;
}

.fullpage__slide {
    display: block;
    height: 100%;
    position: static;
    top: 0;
    left: 0;
    max-height: 761px;
}
.title {
    position: static;
}
.title ul{
    text-align: center;
    padding-bottom: 20px;
}
.fullpage__slide {
    max-height: 100%;
}
.border.js-letter {
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

@media (min-width: 560px) {
    body {
        display: none !important;
    }


}

.moon-background {
    position: absolute;
}

.sky-color {
    height: 140vh;
}
header {
    padding: 15px 0;
}
header .name {
    font-size: 14px;
}
